name: Setup
on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

defaults:
  run:
    working-directory: setup

jobs:
  test:
    name: Unit Tests - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "12"
      - run: npm ci --prefer-offline --no-audit --progress=false
      - run: npm test

  install-haskell:
    name: GHC ${{ matrix.ghc }}, Cabal ${{ matrix.cabal }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.expect-fail }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        ghc: ["latest", "8.4.4"]
        cabal: ["latest", "3.2.0.0", "3.4.0.0-rc4"]
        expect-fail: [false]
        exclude:
          - os: windows-latest
            cabal: "3.4.0.0-rc4"
        include:
          - os: windows-latest
            cabal: "3.4.0.0-rc5"
            ghc: "8.10.2"
            expect-fail: false
          - os: ubuntu-latest
            ghc: "7.10.3"
            cabal: "3.0.0.0"
            expect-fail: false
          - os: ubuntu-latest
            ghc: "8.2.2"
            cabal: "2.0"
            expect-fail: false
          - os: ubuntu-latest
            ghc: "8.12.0" # A version that will never exist.
            expect-fail: true
    steps:
      - uses: actions/checkout@v2
      - uses: ./setup
        continue-on-error: ${{ matrix.expect-fail }}
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}
      - name: Test runhaskell
        run: |
          runhaskell --version
          runhaskell __tests__/hello.hs
        continue-on-error: ${{ matrix.expect-fail }}
      - name: Build test project
        working-directory: setup/__tests__/project
        run: cabal build
        continue-on-error: ${{ matrix.expect-fail }}
      - name: Run test project
        working-directory: setup/__tests__/project
        run: cabal run
        continue-on-error: ${{ matrix.expect-fail }}
      - name: Check installed versions
        run: |
          cabal --version
          ghc --version
        continue-on-error: ${{ matrix.expect-fail }}
      - name: Confirm GHC version
        shell: bash
        continue-on-error: ${{ matrix.expect-fail }}
        if: matrix.ghc != 'latest'
        # this check depends on the ghc versions being "exact" in the matrix
        run: |
          [[ $(ghc --numeric-version) == "${{ matrix.ghc }}" ]]

  install-stack:
    name: Stack ${{ matrix.stack }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        stack: ["latest", "1.9.1"]

    steps:
      - uses: actions/checkout@v2
      - uses: ./setup
        with:
          enable-stack: true
          stack-no-global: true
          stack-version: ${{ matrix.stack }}
      - run: |
          stack --version
          stack
